.botonesOpciones {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: black;
    z-index: 1;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: transparent;


}

.botonesOpciones:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.8s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.botonesOpciones:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    transition: all 1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.botonesOpciones:hover {
    color: #ffffff;
    font-weight: 400;

    /* border: 1px solid #39bda7; */
}

.botonesOpciones:hover:before {
    top: -35%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.botonesOpciones:hover:after {
    top: -45%;
    background-color: #070707;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.imgCart {
    width: 100px;
    height: auto;
}



.contenedorCart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 35px;
    justify-content: space-evenly;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    /* background-color: darkolivegreen; */

}



.contenedorProductosCart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: chocolate; */
}

.titulosTabla {
    font-size: 14px;
}



.botonVaciarCarrito {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contenedorResumenFormulario{
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}


.contenedorResumenCompra {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */

}

.tituloDetalleCompra p {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}



.detalleCompra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: coral; */
}



.botonFinalizarCompra {
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 10px;
    border: none;
    margin-top: 15px;
}

.spacing {
    letter-spacing: 1.5px;
}



.contenedorCarritoVacio1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color:  rgb(8, 8, 8);
  
}


.contenedorCarritoVacio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 8);
   
  
}


.textoCarritoVacio {

    font-family: 'Questrial', sans-serif;
    font-size: 17px;
    letter-spacing: 4px;
    color: white;
    padding-bottom: 10px;
}



.botonCartIrTienda {

    background-color: transparent;
    border: white solid 1.5px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    


}

.animate__animated{
    color: white;
}



/* From uiverse.io */
.botonEliminar {
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: black;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: black;
}

.botonEliminar,
.botonEliminar span {
    transition: 200ms;
}

.botonEliminar .text {
    transform: translateX(35px);
    color: white;
    font-size: 14px;
}

.botonEliminar .icon {
    position: absolute;
    border-left: 1px solid black;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonEliminar svg {
    width: 15px;
    fill: #eee;
}

.botonEliminar:hover {
    background: black;
}

.botonEliminar:hover .text {
    color: transparent;
}

.botonEliminar:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.botonEliminar:focus {
    outline: none;
}

.botonEliminar:active .icon svg {
    transform: scale(0.8);
}