.containerForm {
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.input {
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 20px;
    letter-spacing: 1.5px;
    background-color: rgb(8, 8, 8);
    color: white;
}

.input:focus-visible {
    outline: none;
}

::placeholder {
    color: white;
}

.required{
    margin-top: 20px;
    color: white;
}

.modalButton {
    width: 40%;
    background-color: rgb(8, 8, 8);
    border: 1px solid rgb(255, 255, 255);
    letter-spacing: 1.5px;
    transition: ease-in-out 0.4s;
}

