@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Questrial&display=swap");

.card {
    border: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;


}

.tituloCard {
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: center;
}

.textoPrice{
    font-size: 17px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: center;

}

.imagenCard {
    width: 216px;
    height: 291px;
    transition: all ease 0.8s;
    cursor: pointer;

}

.imagenCard:hover {
    transform: scale(1.1);
}

a.buttonDetail {
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px;
    transition: ease-in-out 0.4s;
}

a.buttonDetail:hover{
    letter-spacing: 4px;
}

