.containerGallery {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100vh;
    width: 100vw;
    
}

.buttonHome{
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:none;
    padding: 50px 80px;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.526);
    background: rgba(255, 255, 255, 0.35);
    box-shadow:inset 6px 6px 12px #fde039be,
    inset -6px -6px 12px #fde039be;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    transition:  ease-in-out 0.5s
}

.buttonHome:hover{
    color: black;
    box-shadow: inset 500px 0 0 0 #fde0397b;
  
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );



}

.item {
    height: 350px;
}

.item1 {
    background-image: url(../../img/MODA/HelmutNewton.Polaroids.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;

}

.item2 {

    background-image: url(../../img/PORTADA/dogs2.jpg);
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/2;




}

.item3 {

    background-image: url(../../img/ARTE/warholBasquiat.jpg);
    background-size: cover;
    grid-column: 4/5;
    grid-row: 1/2;



}

.item4 {

    background-image: url(../../img/ARQ&DISEÑO/cabins.jpg);
    background-size: cover;
    grid-column: 5/6;
    grid-row: 1/2;



}

.item5 {

    background-image: url(../../img/FOTOGRAFIA/peterBeard.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;



}


.item6 {

    background-image: url(../../img/ARTE/frida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;



}

.item7 {

    background-image: url(../../img/PORTADA/dogs1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/5;
    grid-row: 2/3;


}

.item8 {

    background-image: url(../../img/ARQ&DISEÑO/livingInProvence.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 5/6;
    grid-row: 2/3;

}


