
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Questrial&display=swap");

@font-face {
  font-family: apercu;
  src: url(../fonts/ApercuPro-ExtraLight.ttf);
}

html {
  scroll-behavior: smooth;
}

*{
padding: 0;
margin: 0;
}


