

.contenedorTodasLasCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
    margin: 0;
    display: grid;
  

}

.containerCard{
    display: flex;
    justify-content: center;
   
  

}

